<form class="form-horizontal" name="eventForm" autocomplete="off" ng-submit="event.save()">
    <div class="form-group">
        <div class="col-sm-12">
            <h1>{{event.isNew ? 'Create Event' : 'Edit Event'}}</h1>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <label for="name" class="control-label">Title</label>
            <input type="text" class="form-control" id="name" name="name" ng-model="event.event.title" required="required">
            <div ng-messages="eventForm.name.$error" ng-messages-multiple role="alert" class="help-block">
                <div ng-messages-include="error-messages"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <label for="speaker" class="control-label">Speaker</label>
            <select name="speaker" id="speaker" class="form-control"
                    ng-model="event.event.speaker"
                    ng-change="event.setForeignKey('speaker_id', event.event.speaker.id)" required="required"
                    ng-options="speaker as speaker.first_name + ' ' + speaker.last_name for speaker in event.speakers track by speaker.id">
                <option value="">Speaker</option>
            </select>
            <div ng-messages="eventForm.speaker.$error" ng-messages-multiple role="alert" class="help-block">
                <div ng-messages-include="error-messages"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <label for="location" class="control-label">Location</label>
            <select name="location" id="location" class="form-control"
                    ng-model="event.event.location" required="required"
                    ng-change="event.setForeignKey('location_id', event.event.location.id)"
                    ng-options="location as location.name for location in event.locations track by location.id">
                <option value="">Location</option>
            </select>
            <div ng-messages="eventForm.location.$error" ng-messages-multiple role="alert" class="help-block">
                <div ng-messages-include="error-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-8">
            <label for="description" class="control-label">Description</label>
            <textarea rows="3" id="description" name="description" class="form-control no-resize" required="required"
                      ng-model="event.event.description"></textarea>
            <div ng-messages="eventForm.description.$error" ng-messages-multiple role="alert" class="help-block">
                <div ng-messages-include="error-messages"></div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <button class="btn btn-warning" type="button" ng-click="event.back()">Cancel</button>
            <button class="btn btn-success" type="submit" ng-disabled="eventForm.$invalid">Save</button>
        </div>
    </div>
</form>
